main{
    display: flex;
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/abstract-techno-banner-with-hexagonal-design_1048-13087.jpg?w=1380&t=st=1674911518~exp=1674912118~hmac=89a9ed52725190b166a7287a361e7dd607479c84abac8335364d7120d2a351b4);
}
h3 b {
    color: #164c79;
}
.cont{
    background-color: #164d79e3;
    color: white;
}


#bienvenidos{
    
    background-attachment: fixed;
    background-position: top;
    width: 50vw;
    justify-content: center;
    align-items: center;
}
#loginForm{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}
.forminp{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: none;
}

.btn-log{
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: .5rem;
    transition: all 0.2s;
}
.btn-log:active{
    background-color: #6B98BF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
