<div class="d-flex flex-column flex-shrink-0 p-3  aa" style="width: 20vw;">
    <a href="/" class="d-flex mx-lg-5 mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img id="logo" src="https://i.ibb.co/2Z2skNq/My-project-1-1.png"  alt="">
    </a>
    
    <ul class="nav nav-pills flex-column mb-auto">
        
           
        
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
            <i class="fa-solid fa-house-user"></i>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-wallet"></i>
          Tarjetas
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            prestamos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-handshake"></i>
          te ofrecemos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-shield"></i>
          Seguros
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-gift"></i>
          Puntos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-circle-question"></i>
         Ayuda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-right-from-bracket"></i>
          Cerrar Sesion
        </a>
      </li>
    </ul>
    

  </div>